.swiper-container-cover { height:100%;width:100%;overflow:hidden;background-color:#000000 }
.swiper-container-cover  > .swiper-wrapper { height:100%;width:100% }
.swiper-container-cover  > .swiper-wrapper > .swiper-slide { height:100%;width:100% }

.pagination-cover {
  position: absolute;
  left:0px;bottom:40px;
  text-align: right;
  width: 100%;
  z-index:1;
  text-align:center
}
.pagination-cover .swiper-pagination-switch {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0px 0px 0px #555555 ;
  margin: 0 3px;
  cursor: pointer;
  opacity:1;
}
.pagination-cover .swiper-active-switch {
  background: none;
  width: 10px;
  height: 10px;
  border-radius: 7px;
  border:2px #ffffff solid;
  opacity:1
}
.coverArea  .s1 { background:url(../img/home/cover/c1.jpg) center no-repeat;  }
.coverArea  .s2 { background:url(../img/home/cover/c2.jpg) center no-repeat;  }
.coverArea  .s3 { background:url(../img/home/cover/c3.jpg) center no-repeat;  }
.coverArea  .s4 { background:url(../img/home/cover/c4.jpg) center no-repeat;  }
.coverArea   .slide { 
	width:100%;height:100%;  min-height:400px; 
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	-ms-background-size: cover!important;
	background-size:cover!important;
	-webkit-transition: all .5s ease;
	  -moz-transition: all .5s ease;
	  -ms-transition: all .5s ease;
	  transition: all .5s ease;
}
.coverArea   .slide_hide { opacity:0.1; }



.ourServicesArea { margin:40px 0px;overflow:auto }
.ourServicesArea .title { color:#e96514;font-size:50px;text-align:center;padding:0px;margin:0px;  }
.ourServicesArea .desc {
	color:#555555;
	font-size:16px;
	text-align:center
}
.ourServicesArea .list {
	margin:10px auto;
	max-width:1000px;
	text-align: center;
}
.ourServicesArea .list > .item { width:25%;float:left;overflow:hidden }
.ourServicesArea .list > .item > .box {
	display:block;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.ourServicesArea .list > .item > .box > .tb { display:table;width:100%;height:60px;margin-top:10px;  }
.ourServicesArea .list > .item > .box > .icon { height:90px;background-repeat:no-repeat;background-position:bottom center; } 
.ourServicesArea .list > .item > .box > .c1 { background-image:url(../img/our_services/c1.png) }
.ourServicesArea .list > .item > .box > .c2 { background-image:url(../img/our_services/c2.png) }
.ourServicesArea .list > .item > .box > .c3 { background-image:url(../img/our_services/c3.png) }
.ourServicesArea .list > .item > .box > .c4 { background-image:url(../img/our_services/c4.png) }
.ourServicesArea .list > .item > .box > .c5 { background-image:url(../img/our_services/c5.png) }
.ourServicesArea .list > .item > .box > .c6 { background-image:url(../img/our_services/c6.png) }
.ourServicesArea .list > .item > .box > .tb .txt { display:table-cell;width:100%;text-align:center;vertical-align:bottom;color:#37404d; } 
.ourServicesArea .list > .item > .box > .tb .big  { color:#999999;font-size:22px; } 

.ourServicesArea .list > .item > .box:hover > .c1 { background-image:url(../img/our_services/o1.png) }
.ourServicesArea .list > .item > .box:hover > .c2 { background-image:url(../img/our_services/o2.png) }
.ourServicesArea .list > .item > .box:hover > .c3 { background-image:url(../img/our_services/o3.png) }
.ourServicesArea .list > .item > .box:hover > .c4 { background-image:url(../img/our_services/o4.png) }
.ourServicesArea .list > .item > .box:hover > .c5 { background-image:url(../img/our_services/o5.png) }
.ourServicesArea .list > .item > .box:hover > .c6 { background-image:url(../img/our_services/o6.png) }
.ourServicesArea .list > .item > .box:hover > .tb * { color:#ea6e22!important }


.bkkSanedayArea { display:table;width:100%;height:270px;background:url(../img/our_services/bkk_sameday/bg.jpg) center no-repeat #000000 }
.bkkSanedayArea > .desc { padding-left:53%;width:47%;display:table-cell;vertical-align:middle; }


.contactArea { border-bottom:1px #cbcbcb solid; }
.contactArea > .inner { max-width:1200px;margin:30px auto;display:table;}
.contactArea > .inner > * { display:table-cell;text-align:left;vertical-align:middle; }
.contactArea .callcenter { width:30%;border-right:1px #cbcbcb solid; }
.contactArea .callcenter .txtArea { background:url(../img/our_services/icon_callcenter.png) 40px 22px no-repeat;padding-left:120px;width:200px; } 
.contactArea .callcenter .t1 {
	color:#e96514;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	display:block;
}
.contactArea .callcenter .t2 {
	color:#38414e;
	font-size:16px;
	text-align:center;
	padding-bottom:10px;
	margin-top:10px;
	border-bottom:1px #dbdbdb solid;
}
.contactArea .callcenter .t3 { color:#e96514;text-align:right;margin:7px 20px;  }
.contactArea .where { width:30%;border-right:1px #cbcbcb solid }
.contactArea .where .txtArea { background:url(../img/our_services/icon_where.png) left top no-repeat;padding-left:70px;width:200px } 
.contactArea .where .t1 { color:#e96514;font-size:30px;text-align:left }
.contactArea .where .t2 { color:#38414e;font-size:16px;text-align:left;margin-bottom:30px; }
.contactArea .where .btn { font-size:16px; }
.contactArea .track { width:40% }
.contactArea .track .txtArea { background:url(../img/our_services/icon_track.png) left top no-repeat;width:400px } 
.contactArea .track .t1 { color:#e96514;font-size:30px;text-align:left;padding-top:12px;padding-left:100px; }
.contactArea .track .t2 { color:#fff;font-size:16px;text-align:left;margin-bottom:30px;padding-left:100px; }
.contactArea .track .btn { font-size:16px;padding-left:30px;padding-right:30px;   }
.contactArea .track .txt_input {
	width:240px;
	text-align:center;
	font-weight:normal;
	font-size:13px;
	margin-right:10px;
}

.contactArea .txtArea { margin:20px 30px; } 







.newsArea { background-color:#fafafa;overflow:hidden; }
.newsArea  h4 {
	color:#1c1c1c;
	text-align:center;
	font-size:30px;
}
.newsArea > .inner { max-width:1200px;margin:0px auto;position:relative;padding-bottom:30px }
.newsArea .news-list { width:100%;float:left;background-color:#fafafa; }
.newsArea .news-list > .list { display:table;width:100%;}
.newsArea .news-list > .list  > .box { display:table-cell;width:25%;border-left:1px #d0d0d0 solid;; }
.newsArea .news-list > .list  > .box > .content { margin:20px 35px; }
.newsArea .news-list > .list  > .box:first-child { border-left:none }
.newsArea .news-list > .list  > .box .img { margin-bottom:25px;text-align:center }
.newsArea .news-list > .list  > .box .img img { width:76%;border-radius:50%; }
.newsArea .news-list > .list  > .box .title { margin-bottom:5px; }
.newsArea .news-list > .list  > .box .title  a { font-weight:bold; margin-bottom:8px;display:block;}
.newsArea .news-list > .list  > .box:hover .title  a { color:#e96514 }
.newsArea .news-list > .list  > .box a {
	color:#333333;
	font-size:15px;
}
.newsArea .news-list > .list  > .box .desc a {
	font-size:14px;color:#515151
}
.newsArea .news-list > .list  > .box .date { color:#999999;font-size:12px;margin-top:20px; }
.newsArea .subscribe { position:absolute;left:75%;top:0px;bottom:0px;right:0px;float:left;background-color:#fafafa; }
.newsArea .subscribe > .warper  { display:table;height:100%;width:100%; }
.newsArea .subscribe > .warper > .box { display:table-cell;height:100%;vertical-align:middle;padding:20px;text-align:center}
.newsArea .subscribe > .warper > .box  .t1 { color:#e96514;font-size:20px;text-align:center;margin:10px 0px; }
.newsArea .subscribe > .warper > .box  .t2 { font-size:12px;color:#777777;clear:both; }
.newsArea .subscribe > .warper > .box .txt_input { width:100%;text-align:center; }
.newsArea .subscribe > .warper > .box  .btn { float:right;margin-top:10px;margin-bottom:20px; }





.ads_mobileapp { 
	width:100%;
	background:url(../img/mobile_app/bg.jpg) center no-repeat #000000; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size:cover;
}
.ads_mobileapp > .warpper {  margin-left:50%;padding:45px 0px;  }
.ads_mobileapp > .warpper img { max-width:236px }






.testimonialsArea { background:url(../img/client/bg.jpg) center;padding:50px 0px;position:relative; }
.testimonialsArea > .inner { margin:0px auto;max-width:1200px;text-align:center; }
.testimonialsArea h4 {
	font-size:30px;
	color:#1c1c1c;
	background:url(../img/client/icon_quote.png) right center no-repeat;
	margin:0px;
	padding:8px 0px;
	padding-right:80px;
	display:inline-block
}
.swiper-container-people { width:100%;overflow:hidden;margin:20px 0px; }
.swiper-container-people  > .swiper-wrapper { width:100% }
.swiper-container-people  > .swiper-wrapper > .swiper-slide { width:100% }

.pagination-people {
  position: absolute;
  left:0px;bottom:30px;
  text-align: right;
  width: 100%;
  z-index:1;
  text-align:center
}
.pagination-people .swiper-pagination-switch {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #8f8f8f;
  box-shadow: 0px 0px 0px #555555 ;
  margin: 0 8px;
  cursor: pointer;
  opacity:1;
}
.pagination-people .swiper-active-switch {
  background: none;
  width: 10px;
  height: 10px;
  border-radius: 7px;
  border:2px #8f8f8f solid;
  opacity:1
}
.testimonialsArea .box { padding:20px 0px;width:31.33%;margin:0px 1%;float:left;text-align:left;position:relative;  }
.testimonialsArea .box > .img { position:absolute;margin-top:-49px;top:50%;left:0px;z-index:1; }
.testimonialsArea .box > .desc {
	margin-left:50px;
	border:1px #bababa solid;
	border-radius:50px;
	background-color:#ffffff;
	padding:14px 40px;
	padding-left:65px;
	font-size:13px;
	min-height:130px;
}
.testimonialsArea .box > .desc  > .title { color:#e96514;font-size:18px;margin-bottom:2px;  } 
.testimonialsArea .box > .desc  > .position { color:#e96514;display:block;margin-bottom:4px; }

.testimonialsArea .box2 { width:48%; }
.testimonialsArea .box3 { width:98%; }



@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1300px) {

}

@media only screen and (max-width: 1024px) {
	.ourServicesArea .list { margin:10px auto;max-width:800px; }
	.ourServicesArea .list > .item { width:31.33%;margin:0px 1%;float:left;overflow:hidden }
	
	.bkkSanedayArea > .desc > img { width:90% }
	
	.contactArea > .inner { display:block;overflow:auto;margin:0px; }
	.contactArea > .inner > * { display:inline-block;float:left }
	.contactArea .callcenter { width:50%; } 
	.contactArea .where { width:49%; border:none;margin-top:50px; } 
	.contactArea .where .txtArea { margin:0px auto; }
	.contactArea .track { width:100%;border-top:1px #dbdbdb solid;padding:30px 0px;clear:both }
	.contactArea .track .txtArea { margin:0px auto; }
	
	.ads_mobileapp > .warpper { padding:35px 0px;  }
	
	.newsArea .subscribe > .warper > .box .btn { float:none }

	.testimonialsArea .box > .desc { min-height:172px }

}
@media only screen and (max-width: 1000px) { 

	.ourServicesArea .list > .item > .box > .tb .txt { vertical-align:middle}

	.newsArea > .inner { padding:0px; }
	.newsArea .news-list { width:auto;float:none }
	.newsArea .subscribe { width:auto;float:none;position:relative;top:auto;left:auto;right:auto;bottom:auto;height:auto }
	.newsArea .subscribe > .warper { height:auto }
	.newsArea .subscribe > .warper > .box .txt_input { width:80%;margin-right:10%;margin-left:10% }
	
	.testimonialsArea .box { width:90%;margin:0px auto;float:none }
	.testimonialsArea .box > .desc { min-height:auto }


	.ads_mobileapp > .warpper { margin-left:50%;padding:35px 0px;  }
	.ads_mobileapp > .warpper img { width:45% } 
	
}

@media only screen and (max-width: 767px) {

	.coverArea { height:70%;position:relative }

	.contactArea .callcenter .txtArea { background-position:0px 22px;width:auto;padding-left:80px } 
	.contactArea .callcenter .t1 { font-size:30px; }
	.contactArea .callcenter .t2 { font-size:13px; }
	.contactArea .callcenter .t3 { font-size:13px;margin-left:0px }
	.contactArea .where { margin-top:34px; } 

	
}

@media only screen and (max-width: 600px) {

	.coverArea { height:400px }
	.pagination-cover { bottom:20px; }

	.contactArea .callcenter { display:block;width:auto;float:none;border:none; } 
	.contactArea .callcenter .txtArea { max-width:190px;padding-left:100px;margin:20px auto; } 
	.contactArea .callcenter .t3 { text-align:center;margin-right:0px; }
	.contactArea .where { display:block;width:auto;float:none;border:none;margin:0px auto;border-bottom:1px #dbdbdb solid;border-top:1px #dbdbdb solid; } 
	.contactArea .where .txtArea { max-width:210px;margin:20px auto;padding-left:80px; }
	.contactArea .track { border:none;max-width:320px;margin:0px auto;display:block;float:none;text-align:center }
	.contactArea .track .txtArea { width:auto;margin:0px 20px; }
	.contactArea .track .t2 { margin-bottom:20px;}
	.contactArea .track .txt_input , .contactArea .track .btn { margin:5px auto; }
	
	
	.testimonialsArea h4 { font-size:30px;margin:0px 20px }
	
	.bkkSanedayArea { display:table;width:100%;height:auto;padding:40px 0px;background:url(../img/our_services/bkk_sameday/bg.jpg) right no-repeat #000000 }
	.bkkSanedayArea > .desc { padding:0px;width:100%;display:table-cell;vertical-align:middle;text-align:center }
	.bkkSanedayArea > .desc > img { width:90% }
	
	.ourServicesArea .list > .item > .box > .tb .txt { font-size:14px; } 
	.ourServicesArea .list > .item > .box > .tb .big  { font-size:20px; } 
	
	.newsArea h4 { margin:20px 0px;margin-top:30px;padding:0px; }
	.newsArea .news-list { }
	.newsArea .news-list > .list { display:block;width:auto;}
	.newsArea .news-list > .list  > .box { display:block;width:auto;border:none;border-bottom:1px #d0d0d0 solid;overflow:auto;padding:20px; }
	.newsArea .news-list > .list  > .box > .content {  margin:0px; }
	.newsArea .news-list > .list  > .box:first-child { border-top:none }
	.newsArea .news-list > .list  > .box .img { margin:0px;text-align:left;width:20%;float:left; }
	.newsArea .news-list > .list  > .box .img img { width:100%; }
	.newsArea .news-list > .list  > .box .title { text-align:left;width:75%;float:right; }
	.newsArea .news-list > .list  > .box a { }
	.newsArea .news-list > .list  > .box .desc { text-align:left;width:75%;float:right; } 
	.newsArea .news-list > .list  > .box .date { display:none }
	
	.ads_mobileapp { 
		padding-top:110px;
		background-position:left -240px top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		background-size:auto 110px;
	}
	.ads_mobileapp > .warpper { text-align:center;margin-left:0px;padding:25px 0px;background-color:#333333 } 
}
